body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(47, 66, 66);
}

#quote-box {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#text {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

#author {
  font-size: 1rem;
  margin-bottom: 20px;
  color: rgb(214, 191, 13);
  font-weight: bold;
}

#new-quote {
  background-color: #00f308;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#tweet-quote {
  background-color: #002f4c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
}
